* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
  }
  body {
    background-color: #f8f8f8;
    line-height: 1.6;
  }
  .container {
    
    max-width: 1200px;
    margin: 100px auto;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
  }
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }
  .logo img {
    width: 50px;
  }
  .header svg {
    cursor: pointer;
  }
  .image-container {
    margin-top:80px;
    display: flex;
    gap: 0px;
  }
  .image-container img {
    width: 50%;
    object-fit: cover;
    height: 200px;
  }
  .confirmation-message {
    text-align: center;
    font-size: 18px;
    margin: 20px 0;
  }
  .bookings-section {
    padding: 10px 20px;
  }
  .bookings-section h2 {
    font-size: 16px;
    font-weight: bold;
  }
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  table th, table td {
    border: 1px solid #e0e0e0;
    padding: 10px;
    text-align: center;
  }
  table th {
    background-color: #f5c144;
    font-weight: bold;
  }
  table td {
    background-color: #fdebbf;
  }
  .header {
    background-color: #f0f8ff;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;  
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 0 4px 2px -2px gray; 
}


.header .roomroute {
    font-size: 24px;
    font-weight: bold;
    color: rgb(61, 36, 188);
}


.header .button-container {
    display: flex;
    align-items: center;
}

.header .list-button {
    background-color: rgb(61, 36, 188, 100);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 20px; 
}

.header .menu-icon {
    font-size: 24px;
    color: #000;
    cursor: pointer;
}
.menu-container {
    position: relative;
}

.menu-icon {
    width: 40px;
    height: 40px;
    background-color: white;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
}
.menu-items {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    padding: 10px;
    z-index: 10;
    width: 279px;
}

.menu-items a {
    display: block;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    color: #000;
    text-align: center;
    font-weight: 600;
    font-size: 16px;
}
.menu-items button {
    display: block;
    width: 100%;
    text-decoration: none;
    padding: 10px;
    margin: 5px 0;
    text-align: center;
    background-color: rgb(61, 36, 188);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    padding: 10px 20px; 
    color: white;  
}

.menu-items button:hover {
    background-color: rgba(61, 36, 188, 0.8);
}
footer {
  text-align: center;
  padding: 10px;
  background-color: #f0f8ff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
}